    <!DOCTYPE html>
    <html lang="es">
    <head>
    <meta charset="UTF-8">
    <title> Dany-Bot </title>
    <link rel="stylesheet" href="{{url_for('static'), filename='css/style.css'}}">
    </head>
    <body>
       

    <div class="body">
    <div class="navigation">
        <div class="logo">
            <img src="{{ url_for('static', filename='images/logo_machine.png') }}" alt="My Business Logo">
            <h1>Pick and Place Machine</h1>
        </div>
        
        <a href="#" class="nav-item">
            <span><img src="{{url_for('static', filename='images/external-link.png')}}"></img></span>
            <span> &nbsp;&nbsp;Ir a Klipper</span>
        </a>

        <hr style="width:90%;">

        <a href="#" class="nav-item">
            <span><img src="{{url_for('static', filename='images/setting.png')}}"></img></span>
            <span> &nbsp;&nbsp;Configuraciónes</span>
        </a>
        <button id="btnVial">Valores de Vial</button>
        <button id="btnRack">Posiciones de Rackk</button>
        <button>Preferencia</button>

    
    </div>
    <div class="main-content">

        <div class="header">

            <!--div class="search-bar">
                <input type="search" placeholder="Buscar...">
                <button type="button"><img class="icon" src="ima/search.png" alt="Buscar" style="filter: invert(100%);"></button>
            </div-->

            <div class="user-info">
                <div class="user">
                    <span class="user-name">Usuario Administrador</span>
                    <span class="user-role">Administrador</span>
                </div> 
                <img src={{url_for('static'), filename='images/user.png'}} alt="Icono Usuario">
            </div>

        </div>

        <div class="contenido">
            

        </div>
    </div>
    </div>

    </body>
    </html>
